[submodule "keyboard-shortcuts"]
	path = keyboard-shortcuts
	url = https://github.com/mlunax/keyboard-shortcuts.git
[submodule "smod"]
	path = smod
	url = https://github.com/Steamodded/smod
[submodule "Brainstorm"]
	path = Brainstorm
	url = https://github.com/OceanRamen/Brainstorm.git
[submodule "Buffoonery"]
	path = Buffoonery
	url = https://github.com/pinkmaggit-hub/Buffoonery.git
[submodule "SystemClock"]
	path = SystemClock
	url = https://github.com/Breezebuilder/SystemClock.git
[submodule "Malverk"]
	path = Malverk
	url = https://github.com/Eremel/Malverk.git
[submodule "Galdur"]
	path = Galdur
	url = https://github.com/Eremel/Galdur.git
[submodule "textures/BlueStorm_Malverk"]
	path = textures/BlueStorm_Malverk
	url = https://github.com/Sesebasti/BlueStorm_Malverk.git
[submodule "textures/Moodspell"]
	path = textures/Moodspell
	url = https://github.com/Eremel/Moonspell-Cards.git
[submodule "AikoPaintJob"]
	path = AikoPaintJob
	url = https://github.com/Aikoyori/Balatro_AikoPaintJob.git
[submodule "BalaQuints"]
	path = BalaQuints
	url = https://github.com/Luuumine/BalaQuints.git
