[submodule "keyboard-shortcuts"]
	path = keyboard-shortcuts
	url = https://github.com/mlunax/keyboard-shortcuts.git
[submodule "smod"]
	path = smod
	url = https://github.com/Steamodded/smod
[submodule "Brainstorm"]
	path = Brainstorm
	url = https://github.com/OceanRamen/Brainstorm.git
[submodule "Buffoonery"]
	path = Buffoonery
	url = https://github.com/pinkmaggit-hub/Buffoonery.git
